#preloader {
    height: 100vh !important;
    background-color: #fff;
    width: 100% !important;
    z-index: 5000;
    position: fixed;
    display: flex;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.preloader-content {
    height: 100vh !important;
    display: flex;
    align-items: center;
}